:root {
    --vip-name-color: #000000;

    --sidebar-bg-color: #fb91a4ff;
    --sidebar-selected-bg-color: #4e96dfff;
    --sidebar-width: 65px;
    --sidebar-zoom: 1.2;
    --sidebar-icon-fill-color: #FFFFFF;
    --sidebar-icon-stroke-color: #FFFFFF;
    --sidebar-unread-bubble-color: #FF0000;

    --recent-contact-header-bg-color: #fb91a4ff;
    --recent-contact-header-search-bg-color: #f1f1f1;
    --recent-contact-list-bg-color: #FFFFFF;
    --recent-contact-hover-bg-color: #f1f1f1;
    --recent-contact-sys-avatar-color: #5fbe67;
    --recent-contact-selected-bg-color: #41a1d9;
    --recent-contact-unread-bubble-important-color: #FF0000;
    --recent-contact-unread-bubble-normal-color: #bbbbbb;
    --recent-contact-unread-bubble-border-color: #00000000;
    --recent-contact-item-title-font-size: 0.95em;
    --recent-contact-item-time-font-size: 0.95em;
    --recent-contact-item-summary-font-size: 0.93em;

    --chatarea-forward-msg-bg-color: #effdde;
    --chatarea-reply-content-font-size: 14px;
    --chatarea-editor-font-size: 17px;
    --chatarea-username-font-size: 14px;
    --chatarea-text-font-size: 16px;
    --chatarea-pic-element-zoom: 1.5;
    --chatarea-reply-title-text-color: #5fbe67;
    --chatarea-reply-content-text-color: #808080;
    --chatarea-wallpaper: unset;
    --chatarea-bg-color: #7ec4ea;
    --chatarea-username-color: #000000ff;
    --chatarea-username-text-shadow-color: #00000000;
    --chatarea-username-text-shadow-blur: 5px;
    --chatarea-bubble-margin-bottom: 20px;
    --chatarea-header-color: #fb91a4ff;
    --chatarea-bubble-color-others: #4c5b70ff;
    --chatarea-bubble-color-self: #4a8acaff;
    --chatarea-text-color-self: #ffffffff;
    --chatarea-text-color-others: #ffffffff;
    --chatarea-link-color: #168ad0;
    --chatarea-at-element-color: #ffffffff;
    --chatarea-pic-element-max-height: 50vh;
    --chatarea-pic-element-max-width: 40vw;
    --chatarea-timestamp-bg-color: #00000033;
    --chatarea-notification-bg-color: #FFFFFF;
    --chatarea-notification-border-color: #FFFFFF;
    --chatarea-editor-bg-color: #FFFFFF;
    --chatarea-editor-text-color: #000000;
    --chatarea-editor-placeholder-text-color: #999999ff;
    --chatarea-sticker-panel-bg-color: #FFFFFF;

    --group-box-bg-color: #FFFFFF;
}
